.receipt-heading{
  display: flex;
  justify-content: center;
}

.rise-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 0.2;
  font-size: 12px;
  font-weight: 500;
}

.donation-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 500;
}

.receipt {
  font-size: 24px;
  letter-spacing: 5px;
}

.receipt-text {
  font-size: 20px;
  line-height: 1;
  text-align: justify;
  letter-spacing: 2px;
  margin-left: 14rem;
}

.amount-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 14rem;
  font-size: 23px;
  font-weight: 500;
}
.amount-round-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 1%;
  border: 1px solid;
  width: 15%;
  height: 40px;
  border-radius: 25px 25px 25px 25px;
}

.subject-to-realization{
  margin-left: 14rem;
}

.sign-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}